.posts {
  --cntr-g: 2rem;
  --cntro-g: 2rem;
}

.post {
  --a-c: var(--c-sup0);
  --ah-c: var(--c-sup0);
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  text-decoration: none;
  background-color: var(--c-base1);

  &:hover,
  &:focus {
    --p-scl: 1.1;
    --ph-c: var(--c-sup1);
  }
}

.p__head {
  background-color: var(--c-sup1);
  width: 100%;
  height: var(--ph-h, 15rem);
  overflow: hidden;
}

.p__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: var(--p-scl, 1);
  transition: var(--no-anim, .2s scale var(--glbl-cb));
}

.p__body {
  grid-area: var(--p-ga2, inherit);
  padding-block: var(--pb-pb, 0 2rem);

      grid-area: var(--p-ga2, inherit);
    padding-block: var(--pb-pb, 0 2rem);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.p__date {
  order: -1;
  padding-inline: 1rem;
  font-size:.875rem;
}

.p__title {
  text-decoration: underline;
  padding-inline: 1rem;
  font-size: 1.35rem;
  line-height: 1.1;
  color: var(--ph-c, inherit);
  transition: var(--no-anim, .2s color var(--glbl-cb));
}

.p__ex {
  font-size: 1rem;
  padding-inline: 1rem;
}

.posts__more {
  grid-column: var(--pm-gc, inherit);
  justify-self:center;
}

@media(width > 768px) {
  .posts {
    --cntr-gtc: 1fr 1fr;
    --ph-h: 15rem;
    --pm-gc: 1 / 3;
  }
  
  .--p-top {
    --p-ga2: 1 / 2;
    --pb-pb: 1rem;

    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}
