.contact {
  margin-bottom: 2rem;
}

.groups {
  margin-bottom: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding-block: .5rem;
}

:where(.f__input, .f__textarea) {
  max-width: 24rem;
  padding: .5rem;
}