---
import Layout from "@layouts/Layout.astro";
import { getContent } from "@lib/parseContent";

const {meta, Content} = await getContent('about');

/*  ABOUT PAGE */
---

<Layout meta={meta}>
  <section>
    <article class="cntr">
      <Content />
    </article> 
  </section>
</Layout>